<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>GishBlog</title>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>

        <h1>Welcome to GishBlog!</h1>
        <p>Feel free to showoff cool ideas, mock someone elses, or just document your life on the internet.</p>


    </body>
</html>