<!DOCTYPE html>
<html>
    <head>
        <style>
        body{
            background-color: red;
            font-family: arial;
        }
        h1 {
            color: blueviolet;
            font-size: 18px;
            text-align: center;
        }
        p{
            font-size: 30px;
            text-align: center;
        }
        </style>
        <title>GishBlog</title>
        <!-- <link href="test-style.css" rel="stylesheet" type="text/css" > -->
    </head>
    <body>
        <h1>Welcome to GishBlog!</h1>
        <p>Feel free to showoff cool ideas, mock someone elses, or just document your life on the internet.</p>


    </body>
</html>