<!DOCTYPE html>
<html>
    <head>
        <title>GishBlog</title>
        <link href="css/test-style.css" rel="stylesheet" type="text/css" >
    </head>
    <body>
        
        <h1>Welcome to GishBlog!</h1>
        <p>Feel free to showoff cool ideas, mock someone elses, or just document your life on the internet.</p>


    </body>
</html>