<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
    </head>
    <body>
        
        <h1>Welcome to GishBlog!</h1>
        <p>Feel free to mock, showoff, and make fun.</p>


    </body>
</html>